.hidden {
    display: none;
  }
  
  /* #measurement,
  #ingredient {
    list-style-type: none;
  } */
  
  .titleTop {
    flex-direction: row;
    margin-left: 5px;
  }
  
  /* .notification.is-warning {
    background-color: #1f1c10;
    color: rgba(0, 0, 0, 0.7);
  } */
  
  
  #headerTitle {
    color: #19abd8;
    font-size: 35px;
    font-weight: bolder;
  }
  
  .top.is-dark {
    background-color: #363636;
    color: #fff;
  }
  
  .top-body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  article, aside, figure, footer, header, hgroup, section {
    display: block;
  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  section {
    display: block;
  }
  
  body {
    color: #4a4a4a;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5;
    
  }
  
  #topPart {
    display: flex;
  }
  .top-body {
    padding-bottom: 0px;
    padding-top: 10px;
  }
 